{
  "items" : [ {
    "name" : "ssl_client_truststore_location",
    "value" : "{{cdh_encryption_key_location}}/x509/trustore.jks"
  }, {
    "name" : "ssl_client_truststore_password",
    "value" : "{{ truststore_password }}"
  } ]
}
