{
  "items" : [
    
    {% if enable_scm_ssl == True %}
    {
        "name": "AGENT_TLS",
        "value": "true"
      },
      {
        "name": "KEYSTORE_PASSWORD",
        "value": "{{ storepass }}"
      },
      {
          "name": "KEYSTORE_PATH",
          "value": "{{cdh_encryption_key_location}}/jks/keystore.jks"
      },
      {
          "name": "TRUSTSTORE_PASSWORD",
          "value": "{{ truststore_password }}"
      },
      {
          "name": "TRUSTSTORE_PATH",
          "value": "{{cdh_encryption_key_location}}/x509/truststore.jks"
      },
      {
            "name": "WEB_TLS",
            "value": "true"
      },
      {
          "name" : "NEED_AGENT_VALIDATION",
          "value" : "true"
      }

    {% endif %}
  ]
}