#{{ ansible_managed }}

driftfile /var/lib/ntp/drift

restrict 127.0.0.1 
restrict -6 ::1


# Use public servers from the pool.ntp.org project.
# Please consider joining the pool (http://www.pool.ntp.org/join.html).
{% for i in ntp_server %}
server {{ i }}
{% endfor %}


# Enable public key cryptography.
#crypto

includefile /etc/ntp/crypto/pw

# Key file containing the keys and key identifiers used when operating
# with symmetric key cryptography. 
keys /etc/ntp/keys
logfile /var/log/ntp.log
